<% include ../adminLayout %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  
  <div class="panel-body">
    <div class="container">

     <!-- show any messages that come back with authentication -->
    <% if (typeof message != "undefined" && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    
    <div class="page-header text-center">
        <h1><span class="fa fa-universal-access"></span> Welcome <%= user.first_name %></h1>
    </div>

    <div class="row" style="min-height: 500px;">
        <div class="col-lg-12 text-center">
            <div class="row text-center">
            <span style="padding:20px;"><a href="/admin/services/index" class="btn btn-sq-lg btn-warning">
                    <i class="fa fa-wrench fa-5x"></i>
                    <br/><br/>
                Manage <br>Services
            </a></span>
            <span style="padding:20px;"><a href="/admin/parts/index" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-gears fa-5x"></i><br/><br/>
              Manage <br>Parts
            </a></span>
            <span style="padding:20px;"><a href="/admin/appointments/schedule" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-calendar fa-5x"></i><br/><br/>
              Manage <br>Appointments
            </a></span>
            <span style="padding:20px;"><a href="/admin/users/index" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-users fa-5x"></i><br/><br/>
              Manage <br>Users
            </a></span>
            </div>
            <br />
            <div class="row text-center">
            <span style="padding:20px;"><a href="/admin/prices/index" class="btn btn-sq-lg btn-warning">
                    <i class="fa fa-dollar fa-5x"></i>
                    <br/><br/>
                Manage <br>Part Prices
            </a></span>
            <span style="padding:20px;"><a href="/admin/rates/index" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-hourglass-half fa-5x"></i><br/><br/>
              Manage <br>Service Rates
            </a></span>
            <span style="padding:20px;"><a href="/admin/vehicles/index" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-car fa-5x"></i><br/><br/>
              Manage <br>Vehicles
            </a></span>
            <span style="padding:20px;"><a href="/admin/profile/index" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-user fa-5x"></i><br/><br/>
              View <br>Profile
            </a></span>
            </div>
        </div>
      </div>
	
</div>
</div>

</div>

<% include ../footer %>