<% include ../layout %>

<div class="panel panel-info">
	<div style="float: right; padding-top: 4px; padding-right: 15px;">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/profile/index" class="btn btn-default btn-sm">Back To Profile</a>
  </div>
  <div class="clear"></div>
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  
  <div class="panel-body">
    <div class="container" data-ng-app="profileModule" data-ng-controller="profileController">

     <!-- show any messages that come back with authentication -->
    <% if (typeof message != "undefined" && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    

    <div class="row">

        <div class="col-sm-12">
    <div class="well">
        <h3><span class="fa fa-history"></span> Service History</h3>
		<div class='table-scrollable' style="max-height: 500px;">
			<table
			       data-ng-show="services.length > 0"
			       class="table table-striped table-hover">
			  <tr class="success">
			    <td>Service Name</td>
			    <td>Date Completed</td>
			    <td>Appointment Scheduled?</td>
			    <td>Vehicle</td>
			  </tr>

			  <tr data-ng-repeat="service in services">
			    <td>{{service.name}}</td>
			    <td>{{service.date | date:'MM/dd/yyyy'}}<span ng-show="!service.date"><a class="btn btn-sm btn-warning" href="/profile/trackRepairStatus/{{service.id}}"> View Status</a></span></td>
			    <td>{{service.scheduled | yesNo}}</td>
			    <td>{{service.year}} {{service.make}} {{service.model}}</td>
			  </tr>
			</table>
			<p ng-hide="services.length > 0"> No service history found.</p>
		</div>
    </div>
</div>

    </div>
	
    
	
     </div>
   </div>

</div>

<% include ../footer %>

<script src="../../bower_components/moment/min/moment.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../javascripts/app/profile/profileModule.js"></script>
<script src="../../javascripts/app/profile/profileService.js"></script>
<script src="../../javascripts/app/profile/profileController.js"></script>