<% include layout %>

<div class="panel panel-info">
	
  <div style="float: right; padding-top: 4px; padding-right: 15px;">
  <% if (typeof user != "undefined") { %>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  <% } %>
    <a href="/" class="btn btn-default btn-sm">Back To Home</a>
  </div>
  
  <div class="clear"></div>
  
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  
  <div class="panel-body">
    <div class="col-xs-12 col-centered col-min">
	  
    <div class="container">

     <!-- show any messages that come back with authentication -->
    <% if (typeof message != "undefined" && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    
  <div  class="contact" id="contact">
	<div class="contact-content">
		<div class="container">

			<div class=" col-md-6 address">	
				<div class="contact-icons">
											<ul>

												<li><a href="/hoursandmap"><span class="fa fa-home fa-4x"> </span>5937 BELAIR ROAD, BALTIMORE, MD 21206</a></li>
												<li><a class="mail" href="mailto:info@example.com"><span class="fa fa-envelope fa-3x"> </span>123 int@example.com</a></li>
												<li><a class="phone" href="tel:410-864-4731"><span class="fa fa-phone fa-4x"> </span>Tel:410.864.4731</a></li>
												<div class="clearfix"> </div>
											</ul>
										
										</div>
			</div>
			<div class="col-md-6 contact-part">
 				 <div class="form">				
				  			<form method="post" action="#">
							    	<input type="text" class="textbox form-control" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name ';}">
							    	<input type="text" class="textbox form-control" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
							    	<input type="text" class="textbox form-control" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
										<div class="clearfix"> </div>
								    <div>
								    	<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message ';}">Your Message</textarea>
								    </div>	
								   <div> 
								    	<button class="btn btn-success btn-lg" type="submit" value="Submit ">Submit</button>
                   </div>
							</form>
						</div>
 					</div>	
 				<div class="clear"> </div>
 			</div>	
	</div> 			
</div>	

  	</div>
	
  </div>
  
</div>
<% include footer %>