<% include layout %>
<div class="container">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
    <% if (typeof user != "undefined" && user.email) { %>
        <strong>email</strong>: <%= user.email %><br>
    <% } %>
    
  </div>
  <br />
  <div data-ng-app="productCategoryModule"
       data-ng-controller="viewProductCategoryController">

    <div class="container">
      <% include productCategoryGrid %>
    </div>
  </div>
</div>
</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
<script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
<script src="../../javascripts/app/productCategory/viewProductCategoryController.js"></script>