    <div data-ng-app="mwl.calendar.docs"
         data-ng-controller="OptionalEventEndDatesCtrl as vm">
        <data-ng-include src="calendarControls.ejs"></ng-include>
        <mwl-calendar
          events="vm.events"
          view="vm.calendarView"
          view-date="vm.viewDate">
        </mwl-calendar>
      </div>

<script>
angular.module('mwl.calendar.docs', ['mwl.calendar', 'ngAnimate', 'ui.bootstrap']);

angular
  .module('mwl.calendar.docs')
  .controller('OptionalEventEndDatesCtrl', function(moment) {

    var vm = this;

    vm.events = [{
      title: 'No event end date',
      startsAt: moment().hours(3).minutes(0).toDate(),
      type: 'info'
    }, {
      title: 'No event end date',
      startsAt: moment().hours(5).minutes(0).toDate(),
      type: 'warning'
    }];

    vm.calendarView = 'day';
    vm.viewDate = new Date();

  });

  angular
  .module('mwl.calendar.docs')
  .factory('alert', function($uibModal) {

    function show(action, event) {
      return $uibModal.open({
        templateUrl: 'modalContent.ejs',
        controller: function() {
          var vm = this;
          vm.action = action;
          vm.event = event;
        },
        controllerAs: 'vm'
      });
    }

    return {
      show: show
    };

  });
</script>