<% include ../layout %>

<div class="panel panel-info" style="min-height: 600px;">
  <div style="float: right; padding-top: 4px; padding-right: 15px;">
    <% if (user) { %>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <% } %>
    <a href="/appointment/index" class="btn btn-default btn-sm">Back To Appointment</a>
  </div>

  <div class="clear"></div>

  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  

  <div class="panel-body" data-ng-app="appointmentModule">

    <div class="container" data-ng-controller="scheduleAppointmentController">
      <div class="row">
        
        
        <center>
        <multi-step-container steps="steps" class="simple-prev-next"  search-id="'step'" on-cancel="cancel()" on-finish="finish()">
            <div class="col-xs-12 col-sm-6">
            <header>
              <div class="row">
                <button style="float: left;" ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                    <span class="fa fa-chevron-left"></span>
                    Previous
                </button>
                <button style="float: right;" ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
                    Next
                    <span class="fa fa-chevron-right"></span>
                </button>
                <div style="text-align: center;"><p><strong ng-bind-template="{{$getActiveIndex()}} / {{$getSteps().length}}"></strong></p></div>
                
              </div>
                <div class="clear"></div>
            </header>
            <main step-container></main>
            <br /><br />
            </div>
            <!--
            <div class="col-xs-12 col-sm-6">
              <div class="row">
                <p ng-bind-template="Your vehicle is {{appointment.year}} {{appointment.make}} {{appointment.model}}"></p>
              </div>
              <div class="row" ng-show="appointment.date && appointment.time">
                <p ng-bind-template="Your appointment is on {{appointment.date}} at {{appointment.time}}" ></p>
              </div>
              <div class="row" ng-show="appointment.services">
                <p>Services selected:</p>
              <ul>
                <li ng-repeat="selectedService in appointment.services" ng-bind-template="{{selectedService.name}}"></li>
              </ul>
              </div>
            </div>-->


        </multi-step-container>
	</center>

        
      </div>
    </div>
    <br />
  </div>
</div>
<% include ../footer %>
<link href="../../bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
<script src="../../bower_components/moment/min/moment.min.js" type="text/javascript"></script>
<script src="../../bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="../../bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js" type="text/javascript"></script>
<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src='../../bower_components/checklist-model/checklist-model.js'></script>
<script src="../../bower_components/angular-multi-step-form/dist/browser/angular-multi-step-form.min.js" type="text/javascript"></script>

<script src="../../javascripts/app/appointment/appointmentModule.js" type="text/javascript"></script>
<script src="../../javascripts/app/appointment/appointmentService.js" type="text/javascript"></script>
<script src="../../javascripts/app/appointment/scheduleAppointmentController.js" type="text/javascript"></script>
<script src="../../javascripts/app/calendar/helpers.js" type="text/javascript"></script>
<script src="../../javascripts/app/calendar/calendarController.js" type="text/javascript"></script>
